<!DOCTYPE html>
<html lang="en">
    <body bgcolor=#A0EEC4>
<head>
    <meta charset="UTF-8">
    <title>Tweet Generator</title>
</head>
<body>
    <center>
    <h3> Tweet Generator </h3>
    <form action="/result" method="post">
        <label for="username"><b>Username: </b></label>
        <input name="username" type="text"> <br><br>
        <label for="count"><b>Number of Tweets: </b></label>
        <input name="count" type="text"> <br><br>
        <input type="submit" value="Submit">
    </form>
    </center>
</body>
</html>